<nav id="navbar">
  <div class="btn-group">
    <button type="button" class="btn"><a routerLink="/customers" class="headerlink">Customers</a></button>
    <button type="button" class="btn"><a routerLink="/orders" class="headerlink">Orders</a></button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button class="btn" id="dropdown" ngbDropdown><a routerLink="/items" class="headerlink">Items</a></button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item"><a routerLink="/createitem">Create Item</a></button>
      </div>
    </div>
    <div class="cart">
    <a routerLink='shoppingcart'><app-shopping-cart [amountOfStock]="getAmountOfItems()"></app-shopping-cart></a>
  </div>
  </div>
</nav>