<h1>CUSTOMERS</h1>

<input type = "text" [(ngModel)] = "customerName" placeholder="Filter by name..."/>
<button class="btn btn-light btn-lg" type = "submit"><a routerLink = "/createcustomer">New Customer</a></button>

<div class="table-responsive">
 <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
      <th></th>
    </thead>
    <tr *ngFor= "let customer of customers | searchFilter: {lastName: customerName}">
      <td>{{customer.id}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td><button class="btn btn-primary" type = "submit"><a routerLink="/customerdetail/{{customer.id}}">View</a></button></td>
      <td><button class="btn btn-primary" type = "submit"><a routerLink="/customerupdate/{{customer.id}}">Edit</a></button></td>
    </tr> 
</table>
</div> 