.main-container{
    margin-top: 3%;
    margin-left: 20%;
}

.itemimage{
    float: left;
}

.item-description{
    float:left;
    margin-left: 50px;
}

.price{
    font-size: 2em;
    color: #f12d2d;
}

.amountinput{
    float:left;
    align-items: center;
}

.form-control{
    width: 50px;
    margin-right: 20px;
}

#addToCart{
    background-color: #a6cb12;
    border-color: #a6cb12;
    margin-top: 24px;
}

#addToCart:hover {
    background-color: #819e11;
}