h1{
    font-family: 'Roboto', sans-serif; 
}

.item-container {
    display: flex;
}

.item {
    flex: 0 1 300px;
    flex-wrap: wrap;
    margin: 20px;
}

.item:hover {
    background-color: lightgrey;
}

.itemlink{
    color: black;
}

.itemlink:hover {
    text-decoration: none;
}

.itemlink:visited {
    text-decoration: none;
}

.itemname, .price{
    text-align: center;
}

.itemname{
    font-size: 2em;
}

.price{
    font-size: 1.5em;
}

.itemimage
{
    display: block;
    margin: auto;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}