.main-container{
    margin: 0 auto;
}

.form-control{
    width: 50%;
    margin-left: 1%;
}

.form-group{
    margin-left: 1%;
}

#InputPrice, #InputAmountOfStock{
    width: 200px;
}
.containeroverpriceenbuttons{
    position: relative;
    height: 100px;
}

.priceandamount{
    width: 100%;
}

.priceandamount .form-group{
    float: left;
    display: block;
    margin-bottom: 1%;
}

.buttons{
    display: block;
    float: left;
    position: absolute;
    margin-left: 20px;
    margin-top: 5%;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
    background-color: #0063b3;
}

.btn:hover {
    background-color: #40a3ef;
    border-color: #40a3ef;
}

.btn a {
    color: white;
    text-decoration: none;
}

#create{
    background-color: #a6cb12;
    border-color: #a6cb12;
}

#create:hover {
    background-color: #819e11;
}
